.formInput {
  color: rgb(5, 5, 5);
  padding: 3px;
  font-size: 18px;
  background-color: ffffff;
  border-radius: 3px;
  transition: all 0.3s;
  margin: 5px;
}
.formBtn {
  display: flex;
  align-items: center;
  margin: 10px auto;
  padding: 5px 10px;
  padding: 6px;
  cursor: pointer;
  color: rgb(10, 121, 121);
  border: 2px solid #0c850c;
  border-radius: 20px;
  font-weight: 500;
  font-size: 16px;
  transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
}

.formBtn:hover {
  color: #faf4f3;
  background-color: #0c850c;
  font-weight: 500;
  border: 2px solid #eaf7f6;
}

.icon {
  border: 2px solid #ff7043;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  color: #ff7043;
  background-color: #fdfbf9;
}
